/* Containers that contain info rows. */


.root {
    -fx-spacing: 3;
    -fx-padding: 3;
}

/* Rows that contain rank, mos, name, and the phone number */
.info-row {
    -fx-spacing: 2;
}

#save-button-bar {
    -fx-alignment: center-right;
}