/* FX Experience Defined layout.  Manages general coloring */

.root {
    -fx-font-family: "System";
    -fx-font-size: 14.0px;
    -fx-base: #D0D0D0;
    /*-fx-background-image: url("../images/multicam.png");*/
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-focus-color: #1a38ed;
    -fx-control-inner-background: #FFFFFF;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,31.34285714285714%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -14.42857142857143%) 100%);
    -fx-shadow-highlight-color: derive(-fx-background,-26.42857142857143%);
    -fx-text-box-border: derive(-fx-background,32.5%);
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 3px 10px 3px 10px;
}
.menu-button {
    -fx-background-radius: 5, 5, 4, 3;
}
.menu-button .label {
    -fx-padding: 3px 18px 3px 10px;
}
.menu-button .arrow-button {
    -fx-padding: 3px 6px 3px 0px;
}
.choice-box {
    -fx-padding: 0 6px 0 0;
}
.choice-box .label {
    -fx-padding: 3px 4px 3px 6px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 8px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 3px 6px 3px 6px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}



/* Any internal sun content pane that does not want the default background
 image as a background. Intermediate layer between base and background. */
.sub-content {
    -fx-background-color: rgba(194, 189, 189, 0.85);
}

/* All image buttons */
.image-button {
    -fx-alignment: center;
}

/* All image buttons that are selected */
.image-button:selected {
    /*-fx-background-color: gray;*/
}

/* Make sure all image views fit the width and height of parent nodes */
.image-view {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

/* And a round radius for all list items */
.list-view {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10;
}

.title-label {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 18px;
}

.subtitle-label {
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

/* Add a default circular radius for all trash button */
.trash-button {
    -fx-border-radius: 20;
    -fx-background-radius: 30;
}

/* Set the default button for deletion */
.trash-button > .image-view {
    -fx-image: url("../images/trash-can.png");
}

.save-button > .image-view {
    -fx-image: url("../images/save.png");
}

.search-button > .image-view {
    -fx-image: url("../images/search.png");
}

.filter-button > .image-view {
    -fx-image: url("../images/filter.png");
}

.add-button > .image-view {
    -fx-image: url("../images/add.png");
}