
.title-label {
    -fx-underline: true;
}

.filter-label {
    -fx-alignment: center-right;
}

/* Grid pane for the properties */
.grid-pane {
    -fx-hgap: 10;
    -fx-padding: 0 2 0 2;
}

.label {
    -fx-text-fill: #30511C;
}