
/* Any additional info that can be shown when table is hidden */
.additional-info-grid {
    -fx-hgap: 5;
    -fx-padding: 10 0 0 0;
    -fx-vgap: 5;
}

/* The container pane for all other end item panes */
.all-details-pane {
    /*  */
    -fx-max-height: 250;
}

/* For each individual item pane */
.item-detail-pane {
    -fx-alignment: top-center;
    -fx-padding: 5;
    -fx-spacing: 3;
}

.image-pane {
    -fx-fit-to-width: true;
}

/* CSS for navigation pane */
.navigation-button {
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.navigation-button:selected {
    -fx-background-color: #cccacd;
}

/* The pane that contains the search bar. */
.search-pane {
    -fx-spacing: 10;
    -fx-padding:  2 0 2 0;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: as-needed;
}

.sub-row {
    -fx-spacing: 3;
}

/* The table for */
.table-view {
    /*-fx-max-height: 200;*/
    -fx-fit-to-width: true;

}

.table-cell {
}

.title-label {
    -fx-alignment: bottom-center;
    -fx-font-weight: bold;
    -fx-vbar-policy: never;
}

