.column {
    -fx-padding: 0 5 0 5;
}

.root {
    -fx-background-color: rgba(172, 172, 172, 0.71);
}

.root-container {
    -fx-padding: 2 0 2 0;
    -fx-background-radius: 10;
}

.column .row {
    -fx-alignment: center-left;
    -fx-spacing: 10;
}