
.root {
    -fx-background-image: url("../images/special-forces-wallpaper.png");
}


.main-content {
    -fx-spacing: 5;
    -fx-padding: 10;

}

.main-content .split-label {
    -fx-font-size: 1.5em;
}

.main-content .sub-content {
    -fx-spacing: 1em;
}

.main-content .title-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.subtitle-label {
    -fx-text-fill: #0a4a13;
    -fx-padding: 0 0 5 0;
    -fx-max-height: inherit;
}

.split-label {
    -fx-text-fill: rgb(16, 128, 27);
    -fx-min-width: 100;
    -fx-alignment: center;
}

.title-label {
    -fx-text-fill: #0a4a13;
}

/* The overall pane that contains the title of the application */
.title-pane {
    -fx-fill-width: true;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-background-color: rgba(194, 189, 189, 0.85);
    /*-fx-effect: dropshadow( one-pass-box , white , 8 , 0.0 , 2 , 0 );*/
}

/* All labels within the title pane */
.title-pane .label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: sans-serif;
}

/* The title label */
.title-pane .title-label {
    -fx-font-size: 48px;
    -fx-font-weight: bolder;
    /*-fx-text-fill: rgba(255, 255, 255, 0.85);*/
}

/* The Subtitle label */
.title-pane .subtitle-label {
    -fx-font-size: 18px;
    -fx-font-style: italic;

    /*-fx-text-fill: rgba(255, 255, 255, 0.70);*/
}

.sub-content {
    -fx-pref-height: 300;
    -fx-padding: 10;
    -fx-background-radius: 20;
}

/*  */
.upload-bar {
    -fx-spacing: 5;
}


