
/* Table view css. */
.table-view {
    /*-fx-max-height: 300;*/
    -fx-fit-to-height: true;
}

.button-bar {
    -fx-spacing: 10;
    -fx-padding: 5;
}

.number-date-pane {
    -fx-alignment: top-center;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.table-column {
    -fx-alignment: center;
}

.text-area-container {
    -fx-padding: 10;
}

