#location-bar {
    -fx-spacing: 3;
}

/* The overall pane for all the sub views. */
.main-pane {
    -fx-padding: 5;
    -fx-spacing: 5;
}


.support-pane {
    -fx-max-height: 300;
    -fx-min-height: 200;
    -fx-spacing: 20;
}



