#lastUpdatedTitle {
    -fx-font-weight: bold;
}

/* Any pane t */
.searchPane {
    -fx-padding: 1em;
    -fx-alignment: center;
}

/* Any grid layout that can display information. */
.unit-grid {
    -fx-alignment: center;
    -fx-hgap: .5em;
    -fx-vgap: .25em;
}

/* For all labels within the Grid Pane */
.unit-grid .label {
   /*-fx-max-width: Double.MAX_VALUE; Does not set the max width property*/
}

/* The static portion of the grid pane. Traditionally the left side */
.unit-grid .label-static {
    -fx-alignment: center-right;
}

/*  */
.unit-grid .text-area {
    -fx-wrap-text: true;
    -fx-alignment: center-left;
}

