
/* Container that holds a list of end items */
.enditem-list-container {
    -fx-padding: 10 3 5 3;
    -fx-spacing: 3;
}

.enditem-list-container .scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

/* Container personal bio image. */
.image-container {
    -fx-padding: 5;
}

/* Containers that contain info rows. */
.info-container {
    -fx-spacing: 3;
}

/* Rows that contain rank, mos, name, and the phone number */
.info-row {
    -fx-spacing: 2;
}

#save-button-bar {
    /*-fx-padding: 5;*/
}

.util-bar {
    -fx-padding: 3 0 3 0;
}

.util-bar .text-field {
    -fx-pref-width: 200;
}
