.root {
    -fx-padding: 10;
    -fx-spacing: 8;
}

.date-label {
    -fx-padding: 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.row-container {
    -fx-alignment: center;
    -fx-spacing: 5;
    /*-fx-padding: 5;*/
}

.label {
    -fx-background-color: -fx-base;
}

.title-label {
    -fx-padding: 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-alignment: bottom-center;
}

.sub-content {
    -fx-padding: 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-alignment: center;
    -fx-spacing: 5;
}

