.root {
    -fx-padding: 20;
}

.scroll-pane           {
    -fx-control-inner-background: transparent;
}

.label {
    /*-fx-blend-mode: src-over;*/
    /*-fx-background-color: -fx-base;*/
}

.title-label {
    -fx-padding: 5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#grid {
    -fx-vgap: 2;
    -fx-hgap: 10;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 10;
}

/* For all the combo boxes in the right hand column */
#grid > .combo-box {
    -fx-column-halignment: left;
}

/* For all the labels in the left hand side column */
#grid > .label {
    -fx-column-halignment: right;
}

